<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mole Safe Networking</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <i><h1>Mole Safe Networking</h1></i>
      <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
      <nav id="nav-menu">
        <ul>
          <li><a href="/directories">Directories</a></li>
          <li><a href="/company-info">Company Info</a></li>
            <li><a href="/store">Store/Partners</a></li>
          <li><a href="/">Refresh</a></li>
        </ul>
      </nav>
    </header>

    <section class="content">
      <h2>Welcome to Mole Safe Networking</h2>
      <center>
        <p>Welcome we store onion sites so people dont have to search far for sites</p>
      </center>
     </section>
    
  
   <section class="content">
         <h2>pgp</h2>
      -----BEGIN PGP SIGNED MESSAGE-----
<p>Hash: SHA256</p>

<center><p>make sure to encrypt all personal info to mole safe networking using our pgp key</p></center>
<p>-----BEGIN PGP SIGNATURE-----</p>
<p>
iQI+BAEBCAAoIRxNb2xlIFNhZmUgTmV0d29ya2luZyA8bW9sZSBzYWZlPgUCZ0Up
fwAKCRD8uok715UolnIrD/9OenNcO/KrkS9KxgML8ZZjSqLP/62XxFgcez+SXWNm
tk46LLi4S0RGZLK99n20q59sVpGGXnblL1ysJ247O25gSRqZRoJls6K72PWdRCuw
YrDnD1rEUCLpo4QKINO5BoELbsn3BuHtZsF3oGMcDzkCclWhNDZ15M7ezCpEzbry
ce+XTQ/cHYR/ixQ9gveJSYTcZ/6Ft5XIioXS96wbC8ebp1hBKFBpSbZ0I5tJPq2M
KgZIxZG5q4vhuX212KPvXcJo3C8eJtscfylpH3KNG+vyVXnYJD17Sx1j7l7ifgOv
NlK2ws/Agrvt10mRrKxjbvzk0zNkQgMrLoiHEZkFYBXd3XZzfrCR3lrCmAtVALEc
+4Ofe3Nd+w1VAd7vKpygebJ9ysVACSDmXv9f73LLbxpPpzOlYgdzQ7orscq3PINU
6aaeWHMt4NaRZmQ2uPnAkukcNtK9VW8wRpvLBsJPBNgQY2coU9Z2DCLdhIqSrx6c
BysECRU87V+CsTfjYjujK4+Rg3mUSFCscMxAtdzGC+gf7mufX6cZFXYQtgjrARnQ
GoI2SEBa/vCITrtK2fFgL13u1wkLBsOQSiAkBE3rPUfe6BH3eiKyoJ2Z3orI/uYQ
wixSfmnFG3JP5NO2zfTEN72ihqRJI70lR2apsmcmlwFlIg0uapMUYuXSsMhTl/BL
tQ===Lz2I</p>
<p>-----END PGP SIGNATURE-----</p>
      </section>

     
  <section class="content">
       <p>
-----BEGIN PGP PUBLIC KEY BLOCK-----
        </p>
      <p>
mQINBGdFH1EBEACX1rdPrxluivzLj9SN6R+I5bObc8z+O2LoXZBM4e/kYGTbTDNg
0ZQHSlNml4lgcaG8rcHShoxodTJJN+NNKQrcZZT9JrsSyaqHpGDv5LBr3Sa65r+P
wJ59WlOTGLGwX0xC3M99tFO2vUC8mff9ZtpslLwR8WEFhpGF1OHke3Ms1PSZ07PW
ZdQwLVq51u1DV6VTZAsJ8fu3yB4AapkJCf+nT70fmjW/BREksQc1adrm35Lgtx2+
8zAKH7AomtpiZrogOVtuDMj6pxJJPqWN3w+NN5xcL+j4thg9/I0p+SoaH4OwCzZr
C8Rj9W0gS3JKycb/P9P/fa30mW2ke1eoaxulv2AlhhOqECgSfk9oOlSH4hw7x4wK
iO2C2j0vge5qlHi4/GY4YCkuG52gh+rOUfLVH6HvlaYm/wDgL0JOVEnt8C5ZSQdJ
jehoaP8vZVoP+uTLyR3DGtlX/u4rUfj1lKLXfL2bIgYkm+8N/klL6Pn4em2OaIEy
1O18sDBphyiCSk+nc+A/wjS4Ot1fr47jzPnPlEqikY+tFm5ofkCHcL1oPlW8I2Fw
AQCQLZ3LZbF51UIEFbEIj5hlDEwzPLWBMa0SVfE5/kf+41bPhHda4RdVecv2OWkM
mffLZDuXUSvtjabFJ/mua/GVbTPzhXDOvSmdmvFnJ4UR3XOOSEBfZQ3rfQARAQAB
tCBNb2xlIFNhZmUgTmV0d29ya2luZyA8bW9sZSBzYWZlPokCMAQTAQgAGgQLCQgH
AhUIAhYBAhkBBYJnRR9RAp4BApsPAAoJEPy6iTvXlSiWmeMP/0MUMLn+0WByQLxz
ULpdH/V2ptozUSmlETEHnx8zfuvAsoN/0oUMTTwZnrljBmmZOwKG0VR3i06hn3+Q
7guF8TBep4eGiTWLAsvrHQTxkBgCF16xFLTwiwIct9y9i/+LWgtnNo3f9Rc3JftK
PAqgNmGbnvAcjy3LNKHBMJ/JwzaicJA1LcEk1bYXT62HLNdNqErbDjDBwn5IWF9z
oi9/CJcXEo3lP2E0qz8NQwGpO+pNBSGdY6h0fk/KlPIpqY34KhhH90kEqf0O/phn
ZJKkSvSW3TtaJ6PuGm8Y4Pu0JPE89v5O4j9hGsiRvBnpgn/IGEu76hIkkrNUAwtJ
LDXZdBF1Yjx8+nVkM22e2Uh/xYOWhqRUz0Lk54rDLcS6bKGy9rSvUs/gmYNsA6s4
5Xw/9jHTzgTP9USopSCAAYg37r8Rh0WDW0N7tbZ9hDHnVAo7lWz+PvrjEag34/yB
kjx3U9jyFXhurev1Xm1/vNJ9X8wleCfN8nFXdqwgeY8Xv/fhQV3atQhduJ7k3S1i
S6nMhpwNjqx+Tsm2Z7C0qFUhB+z03pUbmzh2AJ85O3Eku77uaQ2jUrdmWja54/bf
2Hct5o/sR1ZfGcfkXmfMOvh8Uc8+C0TiTJH02uxYWtLZd6UJlTB71PjTs2ceTq37
nYeh3rleuaXOVHZYkHB2MWnUXLvVuQINBGdFH1EBEADcoe1xApaYldPwQuKS4y/j
kJvbQNVTw9JLLqWGk0LHhXzocGyuEBVtJ3erIQml1QLae1xVNIAluwHlrR1D2DaD
G1JqEhiyqV1QQILUHsXM41/Oep4aJ70GYv0ti2jh4Lmgf8sDd6vgxYknvxbR8YWA
46a7XLzrIbqNA6PRvpQFPBnOI1eXQ/pT7h9fQU2lwG9xAt3SDlJH5iMieE/pLzbT
TEBXonPo5aMSrGY9EdACxhCwbCwxatvETaoBXuvv46fCXbmTRJNU87Zp6HtAzBJb
NXN06k+FQC2+m/OWDtoPVKulMfUvBMt+Innw87SJHhG/oeBkMvAcqA42k86KdWsg
d1risST+nXoSFmAt065627wHZbogFWH8hF3Iv6Zz/OUZuC6QLMHF2j/co4m14Ihb
I6BYanKyV8b6p9wM9Sq4fy3i7Zr5WPq+wKe4wi/mabRRCKwYugvR8vR7HpPETabk
RDNOBduf4Ace0U0ajVQeeI+O7Fxt9mJ23IoS++7bqiL31GU6HkO9uTzjGaBy1ecB
Z2QlupUnvmTyx/KM8qhkDvY3WxdHevCqnUUAu2Axaa3dcc+M6D4AHqqw8SvCfiKj
ZQyT61ZB4Gt4+TDBe7Dd/ocTkZPpNf9jujCy0eAzcV4nDzvQscdYqpr+lC8Zwmpk
0Ys8ABtgw8WcYlLx4F2xYwARAQABiQIfBBgBCAAJBYJnRR9RApsgAAoJEPy6iTvX
lSiW+VEP/jlK6aJPs0ItQb6mKxL8tvVrr5JF+ntcLPw/nLT84PUPKG5MHv+2O57Q
qQ+0yNLBOWuwdKbW1Q7F5Vb30w1ZItpNH42Xbe0EassKGl+3whDUeugMg0DjTIzd
Rw3LStzc1Eyj0DyfI3rMKX++NngMTxvXe9u4upWQvX1RnnzBG6PpazBroaSTDiQV
gNStCZhWyplvYB4vU/sC+crU7prTIJDskgHqpp3A2ujNnNInO03+RQT+iSnY+h3A
TeQhLU/7sFx7YlMnYnJiz5W/5oeK2hrHYy0n1Xy9gtOs7WsyX3DvdFJMfz7VpSNj
Zznk7cPO0y6wh8EEiojDG7zv0nX42CBeKLvRP1rMxe3od5Q/7A9w4PSjep6d2ERc
CZQWBHl5MTDnBiCglEyHdaZ8vM5cXpVzHiG3gXi9vMaXnAv5txBd4NmF+kimhQSw
FkLptsc3RUMBARC5/I6zXxi/bSsusqVJjgzcywUrE7JqXch/6OnLJDgG7gzE/iBZ
cBefOhbCGuYs3Ep8MR7jQikn1H8/KTV9DzwMadBnqAAlKLOBonJsW+wL8dRfhSNx
1k/T87+OVHsAS5WKiCK/LFsWr3CzRfoFXgTk3HthDokl/XmksHgeFY3Etlb2iUSb
RqPyXguKbetAhjx+fieS1++HSolFQlaDakgtps5V9L7eyiGU/Hze=59H8
      </p>
       <p>
-----END PGP PUBLIC KEY BLOCK-----
       </p>
      </section>
    
    <section class="content">
     <h2>donations</h2>
      <section>
      <p>
        <b>xmr: </b>43sktDNJPDDgqVtn794ne86oDgq2 ojuB9Nmf3DA3muJg3HP7GG2T5g1LqBB
        eqAJPnrKbYYiFF2Nbk2fyn8AEjbgnSy2tWTw
      </p>
      <p>
        <b>btc: </b>bc1qhmkk8agxykzz4fqnjz9s5825vvlk7n6zce34ea
      </p>
      <p>
        <b>ltc: </b>ltc1qy23xc2ysvpqcgxqzzuqpwejhdlur7fypjuka07
      </p>
        <iframe src="https://trocador.app/anonpay/?ticker_to=xmr&network_to=Mainnet&address=43sktDNJPDDgqVtn794ne86oDgq2ojuB9Nmf3DA3muJg3HP7GG2T5g1LqBBeqAJPnrKbYYiFF2Nbk2fyn8AEjbgnSy2tWTw&donation=True&simple_mode=True&name=Mole+Safe+Networking&description=Donations&email=Clientbilling@mole-safe.net&ref=6GZ3qkFXVy&bgcolor=" width="310" height="350" style="border:0" scrolling="no"></iframe>
  </section>
</section>

    <script>
      function toggleMenu() {
        const menu = document.getElementById("nav-menu");
        menu.classList.toggle("show");
      }
    </script>
  </body>
</html>
