<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Store/Partners - Mole Safe Networking</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <i><h1>Mole Safe Networking</h1></i>
    <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
    <nav id="nav-menu">
      <ul>
        <li><a href="/directories">Directories</a></li>
        <li><a href="/company-info">Company Info</a></li>
          <li><a href="/store">Refresh</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>

  <section class="content">
    <h2>Store:</h2>
    <h3>Global eSIMs that dont id & other services</h3>
<section>
 
 <a href="HTTPS://MOLESAFENETWORK.COM">Mole Safe Networks wordpress site. (tracking and third party tracking in use for insights)</a>
    </section>
</section>
  <section class="content">
  <h3>
    share our site on your websites and contact admin@mole-safe.net to be listed above as a partner! This helps us spread further this website isnt indexed and doesnt show up on google. This website link is msnonionbook.glitch.me our wordpress site is molesafenetwork.com thanks for any support.
    </h3>
  </section>

  <script>
    function toggleMenu() {
      const menu = document.getElementById('nav-menu');
      menu.classList.toggle('show');
    }
  </script>
</body>
</html>
