<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Store/Partners - Mole Safe Networking</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <i><h1>Mole Safe Networking</h1></i>
    <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
    <nav id="nav-menu">
      <ul>
        <li><a href="/directories">Directories</a></li>
        <li><a href="/company-info">Company Info</a></li>
          <li><a href="/store">Refresh</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>

  <section class="content">
    <h2>Store:</h2>
    <h3>dg1 global esims that dont id</h3>
<section>
<iframe src="https://trocador.app/anonpay/?ticker_to=xmr&network_to=Mainnet&address=43sktDNJPDDgqVtn794ne86oDgq2ojuB9Nmf3DA3muJg3HP7GG2T5g1LqBBeqAJPnrKbYYiFF2Nbk2fyn8AEjbgnSy2tWTw&fiat_equiv=USD&amount=168.0&name=SERVICE%3A+eSIM+200sms+200mins+365days&description=Please+contact+support%40mole-safe.net+and+send+us+your+tx+id+so+we+can+complete+your+order&email=Clientbilling@mole-safe.net&ref=6GZ3qkFXVy&ticker_from=btc&network_from=Mainnet&bgcolor=" width="310" height="350" style="border:0" scrolling="no"></iframe>
  <iframe src="https://trocador.app/anonpay/?ticker_to=xmr&network_to=Mainnet&address=43sktDNJPDDgqVtn794ne86oDgq2ojuB9Nmf3DA3muJg3HP7GG2T5g1LqBBeqAJPnrKbYYiFF2Nbk2fyn8AEjbgnSy2tWTw&fiat_equiv=USD&amount=90.0&name=TOPUP%3ADG1+200sms+200mins+365days&description=Please+contact+support%40mole-safe.net+and+send+us+your+tx+id+so+we+can+complete+your+order&email=Clientbilling@mole-safe.net&ref=6GZ3qkFXVy&bgcolor=" width="310" height="350" style="border:0" scrolling="no"></iframe>
    </section>
</section>

  <script>
    function toggleMenu() {
      const menu = document.getElementById('nav-menu');
      menu.classList.toggle('show');
    }
  </script>
</body>
</html>
